<br><br><br><br>
<div class="container" ng-controller="banner_viewController">
	<div class="row">
		<div class="col-md-12">
			<h1>Publicidad Superior:</h1>
			<a class="btn btn-primary" href="#/banner_view/add">Agregar</a>
			<br><br>
      <div class="progress" id="cargando">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              Cargando
          </div>
      </div>
			<table class="table table-bordered">
  				<tr>
  					<td><strong>Imagen</strong></td>
  					<td><strong>Nombre</strong></td>
  					<td><strong>Descripcion</strong></td>
  					<td><strong>Acciones</strong></td>
				  </tr>
  			   <tr ng-repeat="data in datos">
    					<td width="200px" height="100px">
                  <a href="http://clientes.teknol.net/api_megacable/imagenes/banner_view/{{data.ruta}}" target="_blank">
                      <img src="http://clientes.teknol.net/api_megacable/imagenes/banner_view/{{data.ruta}}" width="200px" height="100px">
                  </a>
              </td>
              <td ng-model="data.nombre">{{data.nombre}}</td>
    					<td>{{data.descripcion}}</td>
    					<td>
                  <a href="#/banner_view/update/{{data.id}}">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                   </a>   
                  <a href ng-click="eliminar_banner_view(data.id,data.ruta)">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </a>
              </td>
  				  </tr>
  		</table>
		</div>	
	</div>
</div>	